<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Prisma</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i%7cWork+Sans:400,500,700" rel="stylesheet" type="text/css">
    
    <link href="/css/combined.css" type="text/css" rel="stylesheet">
</head>

<body>

    <header class="nk-header">
        <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-white-text-on-top">
            <div class="container">
                <div class="nk-nav-table">
                    <a href="index.html" class="nk-nav-logo">
                        <img src="/images/prismab.png" alt="" width="85" class="nk-nav-logo-onscroll">
                        <img src="/images/prismaw.png" alt="" width="85">
                    </a>

                    <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
                        <li><a href="/forms">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>

                    <ul class="nk-nav nk-nav-right nk-nav-icons">
                        <li class="single-icon hidden-lg-up">
                            <a href="#" class="nk-navbar-full-toggle">
                                <span class="nk-icon-burger">
                                    <span class="nk-t-1"></span>
                                    <span class="nk-t-2"></span>
                                    <span class="nk-t-3"></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <nav class="nk-navbar nk-navbar-full nk-navbar-align-center" id="nk-nav-mobile">
        <div class="nk-navbar-bg">
            <div class="bg-image")"></div>
        </div>
        <div class="nk-nav-table">
            <div class="nk-nav-row">
                <div class="container">
                    <div class="nk-nav-header">

                        <div class="nk-nav-logo">
                            <a href="index.html" class="nk-nav-logo">
                                <img src="assets/images/logo-light.svg" alt="" width="85">
                            </a>
                        </div>

                        <div class="nk-nav-close nk-navbar-full-toggle">
                            <span class="nk-icon-close"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-nav-row-full nk-nav-row">
                <div class="nano">
                    <div class="nano-content">
                        <div class="nk-nav-table">
                            <div class="nk-nav-row nk-nav-row-full nk-nav-row-center nk-navbar-mobile-content">
                                <ul class="nk-nav">
                                    <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-nav-row">
                <div class="container">
                    <div class="nk-nav-social">
                        <ul>
                            <li><a href="https://twitter.com/nkdevv"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/unvabdesign/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://dribbble.com/_nK"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="nk-main">
        <div class="nk-header-title nk-header-title-full">
            <div class="bg-image">
                <div style="background-image: url('assets/images/home-7.jpg');"></div>
                <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div>
            </div>
            <div class="nk-header-table">
                <div class="nk-header-table-cell">
                    <div class="container">

                        <h2 class="nk-subtitle text-white">New Social Network</h2>


                        <h1 class="nk-title display-3 text-white">We are about to change the way
                            <br>
                            <em class="fw-400">you publish on the web</em>
                        </h1>


                        <div class="nk-gap"></div>
                        <div class="nk-header-text text-white">
                            <div class="nk-gap-4"></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div id="nk-header-title-scroll-down"></div>
        <div class="bg-white" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-xs-center">
                        <div class="nk-gap-4 mt-9"></div>

                        <h2 class="display-4">About Our Mission</h2>
                        <div class="nk-gap mnt-5"></div>

                        <p>We are a new social network based in Portugal. We know a thing or two about sharing special moments and connecting people. Clever use of technology and lean processes enable us to create what is important to you and bring it directly to your computer.
                        </p>

                        <img src="/images/signature.png" alt="" class="nk-img-fit">

                        <div class="nk-gap-4 mt-25"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: About Our Agency -->

        <!-- START: Features -->
        <div class="nk-box bg-dark-1 text-white">
            <div class="bg-image bg-image-parallax" style="background-image: url('assets/images/bg-pattern.jpg');"></div>
            <div class="nk-gap-5 mnt-6"></div>
            <div class="container">
                <div class="row vertical-gap">
                    <div class="col-md-6 col-lg-3">
                        <div class="nk-ibox-1">
                            <div class="nk-ibox-cont">
                                <div class="smallIcon"><img src="/images/userLanding.png" alt="" height="100%" width="100%"> </div>
                                <div class="nk-ibox-title">120,648</div>
                                <br>
                                <div class="nk-ibox-text">Users</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="nk-ibox-1">
                            <div class="nk-ibox-cont">
                                <div class="smallIcon"><img src="/images/pictureslanding.png" alt="" height="100%" width="100%"> </div>
                                <div class="nk-ibox-title">457,984</div>
                                <div class="nk-ibox-text">Pictures</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="nk-ibox-1">
                            <div class="nk-ibox-cont">
                                <div class="smallIcon"><img src="/images/messagesLand.png" alt="" height="100%" width="100%"> </div>
                                <div class="nk-ibox-title">1,203,491</div>
                                <div class="nk-ibox-text">Messages</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="nk-ibox-1">
                            <div class="nk-ibox-cont">
                                <div class="smallIcon"><img src="/images/chatlanding.png" alt="" height="100%" width="100%"> </div>
                                <div class="nk-ibox-title">1,465</div>
                                <div class="nk-ibox-text">Comments</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-5 mnt-6"></div>
        </div>
        <!-- END: Features -->

        <!-- START: Portfolio -->
        <div class="nk-box bg-white" id="projects">
            <div class="nk-gap-4 mt-5"></div>

            <h2 class="text-xs-center display-4">Most Popular Profiles</h2>

            <div class="nk-gap mnt-6"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="text-xs-center">Share your moments and connect with the whole world. See what our most popular users are up to and Join Us now!
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-gap-2 mt-12"></div>
            <div class="container">
                <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">


                    <div class="nk-isotope-item" data-filter="Mockup">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="/forms" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('/images/demir.jpg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Demir Ametov</h2>
                                    <div class="portfolio-item-category">Join Us</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Print">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="/forms" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('/images/lucas.jpg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Lucas Calmon</h2>
                                    <div class="portfolio-item-category">Join Us</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Branding">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="/forms" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('/images/lucy.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Stacy Marks</h2>
                                    <div class="portfolio-item-category">Join Us</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Design">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="/forms" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('/images/jenna.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Jen Summitt</h2>
                                    <div class="portfolio-item-category">Join Us</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Design">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="/forms" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('/images/hector.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Hector Lemmer</h2>
                                    <div class="portfolio-item-category">Join Us</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Print">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="/forms" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('/images/alena.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Alena Weich</h2>
                                    <div class="portfolio-item-category">Join Us</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Branding">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="/forms" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('/images/carson.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Carson Hewes</h2>
                                    <div class="portfolio-item-category">Join Us</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Photography">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="/forms" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('/images/Daria.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Daria Morley</h2>
                                    <div class="portfolio-item-category">Join Us</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Photography">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="/forms" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('/images/Marva.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Marva Oaks</h2>
                                    <div class="portfolio-item-category">Join Us</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="nk-gap-4 mt-15"></div>
        </div>
        <!-- END: Portfolio -->

        <!-- START: Reviews -->
        <div class="nk-box bg-dark-1">
            <div class="bg-image bg-image-parallax" style="background-image: url('assets/images/bg-pattern.jpg');"></div>
            <div class="nk-gap-5 mnt-6"></div>
            <div class="nk-gap-3"></div>
            <div class="container-fluid">
                <!-- START: Carousel -->
                <div class="nk-carousel nk-carousel-all-visible text-white" data-autoplay="18000" data-dots="true">
                    <div class="nk-carousel-inner">
                        <div>
                            <div>
                                <blockquote class="nk-blockquote-style-1 text-white">
                                    <p>They are revolutionising the industry.</p>
                                    <cite>Forbes</cite>
                                </blockquote>
                                <div class="nk-gap-3 mt-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Carousel -->
            </div>
            <div class="nk-gap-4 mt-3"></div>
        </div>
        <!-- END: Reviews -->

        




        <!--
    START: Footer
-->
<footer class="nk-footer">


    <div class="nk-footer-cont">
        <div class="container text-xs-center">

            <div class="nk-footer-text">
                <p>2017 &copy; Design by The Dopest of This Planet.</p>
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->


</div>




<!-- START: Scripts -->

<script src="/js/combined.js"></script>

<!-- END: Scripts -->


</body>

</html>